/* *********************************************
    Default Theme
    --------------------------------------------
    Google Fonts: Raleway & Open Sans
    --------------------------------------------
    Color Scheme:
      Moon Yellow:                #F4C613
      Black Russian(Grey):        #212226
      White Smoke:                #F4F4F4
      White:                      #FFFFFF
      Black:                      #000000
    --------------------------------------------
********************************************* */

/* *********************************************
Preloader:                 
(Animated Gif: https://loading.io)
********************************************* */
#preloader {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
#status {
  background-image: url('../img/preloader/preloader.gif'); 
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  /* border-radius: 35px; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
}