/* *********************************************
    Default Theme
    --------------------------------------------
    Google Fonts: Raleway & Open Sans
    --------------------------------------------
    Color Scheme:
      Moon Yellow:                #F4C613
      Black Russian(Grey):        #212226
      White Smoke:                #F4F4F4
      White:                      #FFFFFF
      Black:                      #000000
    --------------------------------------------
********************************************* */

/* *********************************************
Global/Generic Styles: html, body
********************************************* */
html, body {
  height: 100%;
  /* cursor: pointer; */
}
body {
  color: #212226;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
section {
  background: #fff;
  overflow: hidden;
}

/* *********************************************
Preloader:                 
(Animated Gif: https://loading.io)
********************************************* */
#preloader {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
#status {
  background-image: url('../img/preloader/preloader.gif'); 
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  /* border-radius: 35px; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
}

/* *********************************************
Home: Hero Video
********************************************* */
#home {
  background: none;
  /* height: 100%; */
  height: 100vh; /* vh = viewport height */
}
#home-bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  /* Fallback Styles */
  background-image: url('../video/soloweb.jpg') no-repeat;
  background-size: cover;
}

#home-overlay {
  background-color: rgb(0, 0, 0, 0.8);
  /* width: 100%; */
  /* height: 100%; */
  width: 100vw; /* vw = viewport width */
  height: 100vh; /* vh = viewport height */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

  /* *******************************
    Vertically Centering Elements
    -------------------------------- */
  #home-content { /* parent element */
    width: 100vw;
    height: 100vh;
    display: table;
  }
  #home-content-inner { /* child element */
    display: table-cell;
    vertical-align: middle;
  }

  /* Styling the Elements */
  #home-heading h1 {
    color: #fff;
    font-size: 4.0625rem;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
  }
  #home-heading h1 span {
    color: #F4C613;
    font-weight: 500;
  }
  #home-text p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 100;
    margin: 8px 0 30px 0;
  }

  /* **********************************
   Buttons 
  ************************************* */
  .btn-general {
    font-family: "Raleway", sans-serif;
    border-radius: 28px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .btn-home {
    color: #fff;
    border: 1px solid #fff;
  }
  .btn-home:hover,
  .btn-home:focus {
    color: #fff;
    background-color: #F4C613;
    border: 1px solid #F4C613;
  }

  .btn-yellow {
    color: #fff;
    background-color: #F4C613;
    border: 1px solid #F4C613;
  }
  .btn-yellow:hover,
  .btn-yellow:focus {
    color: #F4C613;
    background-color: #fff;
    border: 1px solid #F4C613;
  }

  /* ********* Arrow Down ******* */
  #arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    margin-left: -1rem;
    z-index: 1;
  }
  #arrow-down:hover,
  #arrow-down:hover {
    color: #F4C613;
  }

/* *********************************************
Content Boxes
********************************************* */
.content-box-lg {
  padding: 12rem 0;
}
.content-box-md {
  padding: 10rem 0;
}

/* *********************************************
Vertical & Horizontal Headings
********************************************* */
.vertical-heading h5 {
  color: #F4C613;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 5px;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: relative;
  top: 66px;
  left: -52px;
}
.horizontal-heading h2,
.vertical-heading h2 {
  font-size: 4.2rem;
  font-weight: 100;
  line-height: 4.5rem;
}
.vertical-heading h2 {
  margin: 0 0 0 30px;
}
.horizontal-heading {
  margin-bottom: 8rem;
}
.horizontal-heading h5 {
  font-size: 1.6rem;
  color: #F4C613;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 1rem;
}
.horizontal-heading h2 {
  margin: 0;
}

/* *********************************************
Section: About
********************************************* */
  /* *********Part 01 ******* */
  #about-right p:first-child {
    margin-bottom: 3rem;
  }
  #about-bottom {
    margin-top: 6rem;
  }
  #about-bottom img {
    margin: 0 auto;
    /* border: 1px dashed rgba(0, 128, 128, 0.5); */
  }

  /* ********* About: Part 02 ******* */
  #about-02 {
    background-color: #F4F4F4;
  }
  .about-item {
    background-color: #fff;
    padding: 8rem 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .about-item i {
    font-size: 4.2rem;
    margin: 0;
  }
  .about-item h3 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
  .about-item hr {
    width: 4.5rem;
    height: .2rem;
    background-color: #F4C613;
    margin: 0 auto;
    border: none;
  }
  .about-item p {
    margin-top: 2rem;
  }

    /* ********* About Part 02 - hover ******* */
    .about-item:hover {
      background-color: #F4C613;
    }
    .about-item:hover i,
    .about-item:hover h3,
    .about-item:hover p {
      color: #fff;
    }
    .about-item:hover hr {
      background: #fff;
    }
    .about-item:hover i {
      transform: translateY(-20px)    ;
      -webkit-transform: translateY(-20px)    ;
}

    /* ********* About Part 02 - smooth transition ******* */
    .about-item,
    .about-item i,
    .about-item hr {
      -webkit-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out;
    }

    
/* *********************************************
Section: Team
********************************************* */
#team-left .vertical-heading {
  min-height: 16rem;
}
  /* Team members - info */
  .team-member {
    margin: 8px;
    position: relative;
  }
  .team-member-overlay {
    background-color: rgba(33,34,38,0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
  .team-member-info {
    width: 100%;
    height: 100%;
    margin: 8rem 0;
  }
  .team-member-info h6 {
    color: #F4C613;
    font-size: 1.5rem;
    margin: 0;
  }
  .team-member-info p {
    color: #fff;
  }
  .team-member:hover .team-member-overlay {
    opacity: 1;
  }
  /* Team Members: Social Icons */
  ul.social-list {
    padding: 0;
    margin-top: 20px;
  }
  ul.social-list li {
    display: inline-block;
    padding: 0;
  }
  ul.social-list li a {
    border: 1px solid #fff;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}
ul.social-list li:nth-child(1) a:hover {
  background-color: #3b5998;
  border-color: transparent;
}
ul.social-list li:nth-child(2) a:hover {
  background-color: #00aced;
  border-color: transparent;
}
ul.social-list li:nth-child(3) a:hover {
  background-color: #dd4b39;
  border-color: transparent;
}

/* *********************************************
Section: Team Slider Buttons
********************************************* */
/* .owl-theme .owl-nav [class*=owl-], */
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  color: #212226 !important;
  font-size: 40px;
  margin: 4px;
  background: none;
  line-height: 15px;
  font-weight: 200;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
.owl-carousel .owl-nav:hover button.owl-prev,
.owl-carousel .owl-nav:hover button.owl-next {
  background: none;
  color: #212226 !important;
  outline: none;
}

/* *********************************************
Section: Skillset
********************************************* */
/*  */
.skill:first-child {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.skill h4 {
  line-height: 6.2rem;
  margin: 0;
  font-weight: normal;
}
.progress {
  height: 2.5rem;
  border-radius: 0;
  background-color: #efefef;
  overflow: visible;
}
.progress-bar {
  background-color: #F4C613;
  position: relative;
}
.progress-bar span {
  font-size: 1.1rem;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  background-color: #212226;
  padding: .3rem;
  position: absolute;
  left: 97%;
  top: -47px;
}
.progress-bar span:before {
  content: "";
  border-top: 8px solid #212226;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  bottom: -8px;
  left: 23%;
}
/* *********************************************
Section: Statement
********************************************* */
#statement {
  background: url('../img/tech/tech-quote.jpg') no-repeat fixed center;
  /* background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; */
  background-size: cover;
}
#statement .content-box-lg {
  background-color: rgba(0, 0, 0, 0.25);
}
#statement h3 {
  color: #fff;
  font-size: 2.8rem;
  line-height: 4.2rem;
  font-weight: 100;
}
#statement p {
  font-size: 1.4rem;
  color: #F4C613;
  font-family: "Raleway", sans-serif;
  margin-top: .8rem;
}

/* *********************************************
Section: Services
********************************************* */
#services-01 img {
  margin: 6rem 0;
}
.service {
  margin: 3.5rem 0;
}
.service .icon {
  font-size: 4.2rem;
  margin: 0;
  transition: all 0.4s linear;
}
.service:hover .icon {
  color: #F4C613;
  transform: translateX(-2rem);
}
.service h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #F4C613;
  margin: 0 0 0.6rem 0;
}
.service:hover h5 {
  color: #212226;
}
.service h4 {
  font-size: 2.4rem;
  margin: 0 0 .8rem 0;
}
.service p {
  line-height: normal;
}

/* *********************************************
Section: Services 02 with Responsive Tabs
********************************************* */
#services-02 {
  background-color: #F4F4F4;
}
#services-tabs ul {
  margin-bottom: 4rem;
}
#services-tabs ul li {
  padding: 0.5rem 3rem;
  /* border: 1px solid #000;
  border-bottom: none; */
}
#services-tabs ul li a {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #212226;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0;
  text-decoration: none;
  transition: color .3s ease-in-out;
}

  /* ********* Tab: Active State ******** */
  .service-tab .col-md-6 {
    padding: 0;
  }
  #services-tabs ul li.r-tabs-state-active a {
    color: #F4C613;
    font-weight: 700;
    border-bottom: 3px solid #F4C613;
    padding-bottom: 5px;
    transition: border-color 0.5s linear;
  }
  #services-tabs ul li a:hover {
    color: #F4C613;
  }
  .service-tab img {
    width: 100%;
    margin: 0 auto;
  }
  .service-tab .tab-bg {
    background: #fff;
    padding: 5.9rem 3rem;
    min-height: 46.9rem;
  }
  .service-tab h2 {
    font-size: 4.8rem;
    color: #bbb;
    margin-bottom: 2rem;
    font-weight: 100;
  }
  .service-tab h3 {
    font-size: 3.2rem;
    /* font-weight: normal; */
    margin-bottom: 3rem;
  }
  .service-tab p {
    line-height: 2.4rem;
    margin-bottom: 3rem;
  }

/* *********************************************
Section: Portfolio
********************************************* */
#portfolio .vertical-heading {
  margin-bottom: 5rem;
}
.row.no-gutters [class*=col-] {
  padding: 0;
}

  /* Filter styles */
  #isotope-filters {
    margin-bottom: 1rem;
    padding: 2rem 0.5rem 2rem 0;
  }
  #isotope-filters button {
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    box-shadow: none;
    padding: 1rem 2.5rem;
    margin-right: 0.5rem;
    outline: none;
    border-color: #bbb;
    /* text-align: center; */
  }
  #isotope-filters button span {
    display: block;
    padding-bottom: .5rem;
    transition: all 0.3s ease-in-out;
  }
  #isotope-filters button:hover span {
    color: #F4C613;
    /* border-bottom: 3px solid #F4C613; */
  }
  #isotope-filters button.active span {
    color: #F4C613;
    border-bottom: 3px solid #F4C613;
  }
  
  /* Portfolio Image Zoom Effects */
  .portfolio-item {
    overflow: hidden;
    position: relative;
  }
  .portfolio-item img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
  }
  .portfolio-item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* Portfolio Overlay Effect */
  .portfolio-item-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(14, 14, 14, 0.85);
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    opacity: 0;
    transition: all 0.8s ease;
  }
  /* portfolio item details effect */
  .portfolio-item-details {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .portfolio-item-details h3 {
    color: #F4C613;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    transform: translateY(-20%);
    transition: all 0.8s;
  }
  .portfolio-item-details span {
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: .6rem;
    width: 3rem;
    margin: 1.1rem auto .5rem auto;
  }
  .portfolio-item-details p {
    font-size: 1.7rem;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    transform: translateY(20%);
    transition: all 0.8s;
  }
  /* Show overlay on mouse-over */
  .portfolio-item:hover .portfolio-item-details h3 {
    transform: translateY(0);
  }
  .portfolio-item:hover .portfolio-item-details p {
    transform: translateY(0);
  }
  .portfolio-item:hover .portfolio-item-overlay {
    opacity: 1;
  }